* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: smoke rgba(255, 255, 255, 0.842);

}
calculator {
    background-color: 
}